* {
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    margin: 0px;
    height: 100vh;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

}

.main--container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.192),
    0 6.7px 5.3px rgba(0, 0, 0, 0.288),
    0 12.5px 10px rgba(0, 0, 0, 0.253),
    0 22.3px 17.9px rgba(0, 0, 0, 0.205),
    0 41.8px 33.4px rgba(0, 0, 0, 0.226),
    0 100px 80px rgba(0, 0, 0, 0.233)
}

.grid-1, .grid-2 {
    height: 600px;
    width: 500px;  
}

.grid-1 {
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.grid-2 {
    background: rgb(17,81,96);
    background: linear-gradient(152deg, rgba(17,81,96,1) 0%, rgba(15,61,74,1) 46%, rgba(11,55,82,1) 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.signin-signup-main {
    margin: 0px 70px 0px 70px;
}
/* start : Signin */
.signin-main__div {
    display: none;
}
.main-heading{
    margin-top: 70px;
    margin-bottom: 25px;
    margin-left: 70px;
}

.signin,.signup{
    font-size: 18px;
    text-decoration: none;
    color: rgb(206,206,206);
}

.span-or{
    color: rgb(119,119,119);
    font-size: 13px;
    display: inline-block;
    padding: 5px;
}

.email-field,.password-field{
    margin-bottom: 25px;
}

.email-label,.pass-label{
    font-size: 13px;
    color: rgb(206,206,206);
    text-transform: uppercase;
}

input[type=email],input[type=password]{
    background-color: transparent;
    color: orange;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(119,119,119);
    padding: 10px 0px;
    width: 100%;
}

.login-button{
    background-color: rgb(100,215,196); 
    color: rgb(206,206,206);
    border: none;
    height: 30px;
    width: 100px;
    margin-right: 10px;
    font-size: 13px;
    border-radius: 30px;
    outline: none;
    box-shadow: 0 2.8px 5px rgba(0, 0, 0, 0.212),
    0 3.0px 7.5px rgba(0, 0, 0, 0.205),
    0 3.4px 10.5px rgba(0, 0, 0, 0.205),
    0 4.1px 17.5px rgba(0, 0, 0, 0.205);
    background-image: linear-gradient(161deg, #fe8c00 10%, #ff5628 51%, #fe8c00 100%);
    cursor: pointer;
}

.login-button:hover {
    box-shadow: 0 2.8px 5px rgba(0, 0, 0, 0.212),
    0 3.0px 7.5px rgba(0, 0, 0, 0.205),
    0 3.4px 10.5px rgba(0, 0, 0, 0.205),
    0 4.1px 17.5px rgba(0, 0, 0, 0.205),
    0 6.1px 21.5px rgba(0, 0, 0, 0.205),
    0 10px 40.5px rgba(0, 0, 0, 0.205);
    background-position: right center;
}

.reset-pass{
    text-decoration: none;
    color: rgb(119,119,119);
    font-size: 13px;
}

/* start: signup */

/* .grid-2 form {
    margin: 70px;
} */


.full-name__label, .password__label, .email__label {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(206, 206, 206);
    margin-bottom: 5px;
}
.fullname__input-field,.pass__input-field, .email__input-field {
    background-color: transparent;
    color: orange;
    font-size: 13px;
    border-bottom: 1px solid rgb(119, 119, 119);
    border: 0px 0px 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: 0px;
}

/* 
Change the white to any color ;)

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px black inset !important;
}

Change text in autofill textbox
input:-webkit-autofill {
    -webkit-text-fill-color: yellow !important;
} */

input:focus {
    outline: none;
}
input:checked {
    background-color: transparent;
}
.fullname-group__div, .password-group__div, .email-group__div, .cb__div {
    margin-bottom: 25px;
}
.cb__div {
    display: flex;
}
.cb__input-field {
    height: 13px;
    width: 13px;
    margin: 2px 5px 0px 0px;
}

.cb__label {
    font-size: 13px;

    color: rgb(119, 119, 119);
}

.checkbox:checked:before{
    background-color:green;
    }

.tos-link {
    color: orange;
    text-decoration: none;
    font-weight: 500;
}
a.tos-link {
    position: relative;
}

a.tos-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background: white;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  a.tos-link:hover:before {
    visibility: visible;
    height: 2px;
  }
  
.signup__button {
    height: 30px;
    width: 100px;
    border-radius: 25px;
    border: none;
    color: rgb(211, 211, 211);
    font-size: 13px;
    margin-right: 8px;
    box-shadow: 0 2.8px 5px rgba(0, 0, 0, 0.212),
    0 3.0px 7.5px rgba(0, 0, 0, 0.205),
    0 3.4px 10.5px rgba(0, 0, 0, 0.205),
    0 4.1px 17.5px rgba(0, 0, 0, 0.205)
}

.signup__button:hover {
    box-shadow: 0 2.8px 5px rgba(0, 0, 0, 0.212),
    0 3.0px 7.5px rgba(0, 0, 0, 0.205),
    0 3.4px 10.5px rgba(0, 0, 0, 0.205),
    0 4.1px 17.5px rgba(0, 0, 0, 0.205),
    0 6.1px 21.5px rgba(0, 0, 0, 0.205),
    0 10px 40.5px rgba(0, 0, 0, 0.205)
}
.signup__button {background-image: linear-gradient(161deg, #ff5628 11%, #ff8018 100%)}
.signup__button:hover { background-position: right center; }
.signup {
    border-bottom: 1px solid orange;
}
.signin__link {
    font-size: 13px;
    color: rgb(119, 119, 119);
    text-decoration: none;
}
.button__div a{
    text-decoration: none;
}
button:focus {
    outline: none;
}
.button__div a button {
    cursor: pointer;
}
